In [1]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import date
from datetime import timedelta
import statistics as stats
import warnings
%matplotlib inline
plt.style.use('ggplot')


pd.set_option('display.max_columns', 500)
pd.set_option('display.max_colwidth', 500)
pd.set_option('display.max_info_columns', 500)
pd.set_option('display.max_info_rows', 2000)
pd.set_option('display.expand_frame_repr', True)
pd.set_option('display.width', 2000)


warnings.filterwarnings("ignore")
warnings.warn("this will not show")

In [2]:
# Loading data
oto = pd.read_json("scout_car.json", orient = "records", lines = True)
## second way: 
#  oto = pd.read_json("C:/Users/smdkc/Desktop/DS/Proje_ExploratoryDataAnalysis_EDA/scout_car.json", 
#                   lines=True)

In [3]:
oto.head()

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,hp,Type,Previous Owners,Next Inspection,Inspection new,Warranty,Full Service,Non-smoking Vehicle,null,Make,Model,Offer Number,First Registration,Body Color,Paint Type,Body Color Original,Upholstery,Body,Nr. of Doors,Nr. of Seats,Model Code,Gearing Type,Displacement,Cylinders,Weight,Drive chain,Fuel,Consumption,CO2 Emission,Emission Class,\nComfort & Convenience\n,\nEntertainment & Media\n,\nExtras\n,\nSafety & Security\n,description,Emission Label,Gears,Country version,Electricity consumption,Last Service Date,Other Fuel Types,Availability,Last Timing Belt Service Date,Available from
0,https://www.autoscout24.com//offers/audi-a1-sportback-1-4-tdi-s-tronic-xenon-navi-klima-diesel-black-bdab349a-caa5-41b0-98eb-c1345b84445e,Audi A1,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,15770,VAT deductible,"56,013 km",01/2016,2 previous owners,NaN,66 kW,"[, Used, , Diesel (Particulate Filter)]",\n2\n,"[\n06/2021\n, \n99 g CO2/km (comb)\n]","[\nYes\n, \nEuro 6\n]","[\n, \n, \n4 (Green)\n]","[\n, \n]","[\n, \n]",[],\nAudi\n,"[\n, A1, \n]",[\nLR-062483\n],"[\n, 2016, \n]","[\n, Black, \n]",[\nMetallic\n],[\nMythosschwarz\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n5\n],[\n5\n],[\n0588/BDF\n],"[\n, Automatic, \n]","[\n1,422 cc\n]",[\n3\n],"[\n1,220 kg\n]",[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[3.8 l/100 km (comb)], [4.3 l/100 km (city)], [3.5 l/100 km (country)]]",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Hill Holder, Leather steering wheel, Light sensor, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Start-stop system]","[Bluetooth, Hands-free equipment, On-board computer, Radio]","[Alloy wheels, Catalytic Converter, Voice Control]","[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control, Xenon headlights]","[\n, Sicherheit:, , Deaktivierung für Beifahrer-Airbag, , ESC mit elektronischer Quersperre, , Tagfahrlicht, , Reifendruck-Kontrollanzeige, , Kopfairbag-System mit Seiten-Airbags vorn, , Sicherheitslenksäule, Assistenzsysteme:, , Berganfahrassistent, Komfort:, , Scheinwerferreinigung, , Xenon plus inklusive Scheinwerfer-Reinigungsanlage, , Scheinwerfer-Reinigungsanlage, , Einparkhilfe hinten, , Licht-/Regensensor, , Funkfernbedienung, , Elektrische Luftzusatzheizung, Interieur:...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.autoscout24.com//offers/audi-a1-1-8-tfsi-sport-gasoline-red-b2547f8a-e83f-6237-e053-e250040a56df,Audi A1,1.8 TFSI sport,Sedans,14500,Price negotiable,"80,000 km",03/2017,None,NaN,141 kW,"[, Used, , Gasoline]",NaN,NaN,NaN,NaN,NaN,NaN,[],\nAudi\n,"[\n, A1, \n]",NaN,"[\n, 2017, \n]","[\n, Red, \n]",NaN,NaN,"[\nCloth, Grey\n]","[\n, Sedans, \n]",[\n3\n],[\n4\n],[\n0588/BCY\n],"[\n, Automatic, \n]","[\n1,798 cc\n]",[\n4\n],"[\n1,255 kg\n]",[\nfront\n],"[\n, Gasoline, \n]","[[5.6 l/100 km (comb)], [7.1 l/100 km (city)], [4.7 l/100 km (country)]]",[\n129 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Automatic climate control, Hill Holder, Leather steering wheel, Lumbar support, Parking assist system sensors rear, Power windows, Start-stop system, Tinted windows]","[Bluetooth, Hands-free equipment, On-board computer, Radio, Sound system]","[Alloy wheels, Sport seats, Sport suspension, Voice Control]","[ABS, Central door lock, Central door lock with remote control, Daytime running lights, Driver-side airbag, Electronic stability control, Head airbag, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control, Xenon headlights]","[\nLangstreckenfahrzeug daher die hohe Kilometerleistung. , Bremsen neu bei 62000 km. , Gut gepflegter A1\n]",[\n4 (Green)\n],[\n7\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.autoscout24.com//offers/audi-a1-sportback-1-6-tdi-s-tronic-einparkhilfe-plus-music-diesel-black-6183cb6a-8570-4b86-a132-9b54214bca88,Audi A1,Sportback 1.6 TDI S tronic Einparkhilfe plus+music,Sedans,14640,VAT deductible,"83,450 km",02/2016,1 previous owner,NaN,85 kW,"[, Used, , Diesel (Particulate Filter)]",\n1\n,NaN,NaN,"[\n, \n, \n99 g CO2/km (comb)\n]",NaN,NaN,[],\nAudi\n,"[\n, A1, \n]",[\nAM-95365\n],"[\n, 2016, \n]","[\n, Black, \n]",[\nMetallic\n],[\nmythosschwarz metallic\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n4\n],[\n4\n],NaN,"[\n, Automatic, \n]","[\n1,598 cc\n]",NaN,NaN,[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[3.8 l/100 km (comb)], [4.4 l/100 km (city)], [3.4 l/100 km (country)]]",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Cruise control, Electrical side mirrors, Hill Holder, Leather steering wheel, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Seat heating, Start-stop system]","[MP3, On-board computer]","[Alloy wheels, Voice Control]","[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]","[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 24.640 EUR, , Komfort, , Klimaanlage, , Elektrische Fensterheber, , Sitzheizung, , Tempomat, , Zentralverriegelung, , Leder-Lenkrad, , Elektrische Spiegel, , Wärmedämmendes Glas, , Anfahrassistent, , Sicherheit, , Window/Kopfairbags, , ESP (el. Stabilitäts Programm), , Elektronische Wegfahrsperre, , Reifendruckkontrolle, , Tagfahrlicht, , Exterieur, , Alufelgen 16 Zoll, , Einparkhilfe vo + hi, , Interieur, , Stoff Zeitgeist, ...",[\n4 (Green)\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://www.autoscout24.com//offers/audi-a1-1-4-tdi-design-s-tronic-diesel-brown-35c86585-2727-d61e-e053-e250040ad640,Audi A1,1.4 TDi Design S tronic,Sedans,14500,None,"73,000 km",08/2016,1 previous owner,NaN,66 kW,"[, Used, , Diesel (Particulate Filter)]",\n1\n,NaN,NaN,NaN,"[\n, \n, \n99 g CO2/km (comb)\n]","[\n, \n, \nEuro 6\n]",[],\nAudi\n,"[\n, A1, \n]",NaN,"[\n, 2016, \n]","[\n, Brown, \n]",[\nMetallic\n],NaN,NaN,"[\n, Sedans, \n]",[\n3\n],[\n4\n],NaN,"[\n, Automatic, \n]","[\n1,422 cc\n]",[\n3\n],"[\n1,195 kg\n]",NaN,"[\n, Diesel (Particulate Filter), \n]","[[3.8 l/100 km (comb)], [4.3 l/100 km (city)], [3.5 l/100 km (country)]]",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air suspension, Armrest, Auxiliary heating, Electrical side mirrors, Heads-up display, Hill Holder, Leather steering wheel, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, Power windows, Rain sensor, Seat heating, Split rear seats, Start-stop system]","[Bluetooth, CD player, Hands-free equipment, MP3, On-board computer, Radio, Sound system, USB]","[Alloy wheels, Sport seats, Voice Control]","[ABS, Alarm system, Central door lock with remote control, Driver drowsiness detection, Driver-side airbag, Electronic stability control, Emergency system, Head airbag, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system]","[\nAudi A1: , - 1e eigenaar , - Perfecte staat: schade/ongevalvrij , - Onderhoudsboekje Audi garage , - Full option!, - S-line opties, - Automaat, lederen bekleding, navi-pro, Xenon lampen, zetelverwarming, automatische airco,...\n]",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://www.autoscout24.com//offers/audi-a1-sportback-1-4-tdi-s-tronic-s-line-ext-admired-xe-diesel-black-b86b55d8-9c7c-4a58-b658-b97008a51efc,Audi A1,"Sportback 1.4 TDI S-Tronic S-Line Ext. admired, Xe",Sedans,16790,None,"16,200 km",05/2016,1 previous owner,NaN,66 kW,"[, Used, , Diesel (Particulate Filter)]",\n1\n,NaN,"[\nYes\n, \n109 g CO2/km (comb)\n]","[\n, \n, \nEuro 6\n]","[\n, \n, \n4 (Green)\n]","[\n, \n]",[],\nAudi\n,"[\n, A1, \n]",[\nC1626\n],"[\n, 2016, \n]","[\n, Black, \n]",[\nMetallic\n],[\nMythosschwarz Metallic\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n5\n],[\n5\n],[\n0588/BDF\n],"[\n, Automatic, \n]","[\n1,422 cc\n]",[\n3\n],NaN,[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[4.1 l/100 km (comb)], [4.6 l/100 km (city)], [3.8 l/100 km (country)]]",[\n109 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate control, Electrical side mirrors, Hill Holder, Leather steering wheel, Light sensor, Multi-function steering wheel, Park Distance Control, Parking assist system sensors rear, Power windows, Rain sensor, Start-stop system]","[Bluetooth, CD player, Hands-free equipment, MP3, On-board computer, Radio, USB]","[Alloy wheels, Sport package, Sport suspension, Voice Control]","[ABS, Central door lock, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control, Xenon headlights]","[\n, Technik & Sicherheit:, Xenon plus, Klimaautomatik, Einparkhilfe hinten, Scheinwerferreinigungsanlage, Nebelscheinwerfer, Zentralverriegelung mit Fernbedienung, Außenspiegel elek. einstellbar, Fensterheber elek, Start/Stop Anlage, 6 Airbag inkl. Kopfairbag, Euro 6, Multimedia:, Radio CD Concert, audi music interface, Handyvorbereitung (Bluetooth), Sprachsteuerung, USB Anschluss, Assistenzsysteme:, Lichtsensor, Regensensor, Berganfahrassistent, Reifendruckkontrolle, ESP inkl. ABS, Interie...",NaN,NaN,[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN

## Now let's try to examine our dataframe (oto)

In [4]:
oto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 54 columns):
 #   Column                         Dtype
---  ------                         -----
 0   url                            object
 1   make_model                     object
 2   short_description              object
 3   body_type                      object
 4   price                          int64
 5   vat                            object
 6   km                             object
 7   registration                   object
 8   prev_owner                     object
 9   kW                             float64
 10  hp                             object
 11  Type                           object
 12  Previous Owners                object
 13  Next Inspection                object
 14  Inspection new                 object
 15  Warranty                       object
 16  Full Service                   object
 17  Non-smoking Vehicle            object
 18  null                           object
 19  Make                           object
 20  Model                          object
 21  Offer Number                   object
 22  First Registration             object
 23  Body Color                     object
 24  Paint Type                     object
 25  Body Color Original            object
 26  Upholstery                     object
 27  Body                           object
 28  Nr. of Doors                   object
 29  Nr. of Seats                   object
 30  Model Code                     object
 31  Gearing Type                   object
 32  Displacement                   object
 33  Cylinders                      object
 34  Weight                         object
 35  Drive chain                    object
 36  Fuel                           object
 37  Consumption                    object
 38  CO2 Emission                   object
 39  Emission Class                 object
 40
Comfort & Convenience
        object
 41
Entertainment & Media
        object
 42
Extras
                       object
 43
Safety & Security
            object
 44  description                    object
 45  Emission Label                 object
 46  Gears                          object
 47  Country version                object
 48  Electricity consumption        object
 49  Last Service Date              object
 50  Other Fuel Types               object
 51  Availability                   object
 52  Last Timing Belt Service Date  object
 53  Available from                 object
dtypes: float64(1), int64(1), object(52)
memory usage: 6.6+ MB

In [5]:
oto.describe()

              price   kW
count  15919.000000  0.0
mean   18019.896727  NaN
std     7386.169409  NaN
min       13.000000  NaN
25%    12850.000000  NaN
50%    16900.000000  NaN
75%    21900.000000  NaN
max    74600.000000  NaN

In [6]:
oto.shape

(15919, 54)

In [7]:
# Checking missing value counts of each column
oto.isnull().sum()

url                                  0
make_model                           0
short_description                   46
body_type                           60
price                                0
vat                               4513
km                                   0
registration                         0
prev_owner                        6828
kW                               15919
hp                                   0
Type                                 2
Previous Owners                   6640
Next Inspection                  12384
Inspection new                   11987
Warranty                          5420
Full Service                      7704
Non-smoking Vehicle               8742
null                                 0
Make                                 0
Model                                0
Offer Number                      3175
First Registration                1597
Body Color                         597
Paint Type                        5772
Body Color Original               3759
Upholstery                        3720
Body                                60
Nr. of Doors                       212
Nr. of Seats                       977
Model Code                       10941
Gearing Type                         0
Displacement                       496
Cylinders                         5680
Weight                            6974
Drive chain                       6858
Fuel                                 0
Consumption                       1906
CO2 Emission                      1808
Emission Class                    3021
\nComfort & Convenience\n          920
\nEntertainment & Media\n         1374
\nExtras\n                        2962
\nSafety & Security\n              982
description                          0
Emission Label                   11934
Gears                             4712
Country version                   8333
Electricity consumption          15782
Last Service Date                15353
Other Fuel Types                 15039
Availability                     15284
Last Timing Belt Service Date    15903
Available from                   15647
dtype: int64

## Identifying the amount of the Missing Values

In [8]:
oto.shape[0]

15919

In [9]:
oto.isnull().sum()*100/oto.shape[0]

url                                0.000000
make_model                         0.000000
short_description                  0.288963
body_type                          0.376908
price                              0.000000
vat                               28.349771
km                                 0.000000
registration                       0.000000
prev_owner                        42.892141
kW                               100.000000
hp                                 0.000000
Type                               0.012564
Previous Owners                   41.711163
Next Inspection                   77.793831
Inspection new                    75.299956
Warranty                          34.047365
Full Service                      48.395000
Non-smoking Vehicle               54.915510
null                               0.000000
Make                               0.000000
Model                              0.000000
Offer Number                      19.944720
First Registration                10.032037
Body Color                         3.750236
Paint Type                        36.258559
Body Color Original               23.613292
Upholstery                        23.368302
Body                               0.376908
Nr. of Doors                       1.331742
Nr. of Seats                       6.137320
Model Code                        68.729192
Gearing Type                       0.000000
Displacement                       3.115774
Cylinders                         35.680633
Weight                            43.809285
Drive chain                       43.080596
Fuel                               0.000000
Consumption                       11.973114
CO2 Emission                      11.357497
Emission Class                    18.977323
\nComfort & Convenience\n          5.779257
\nEntertainment & Media\n          8.631195
\nExtras\n                        18.606696
\nSafety & Security\n              6.168729
description                        0.000000
Emission Label                    74.967021
Gears                             29.599849
Country version                   52.346253
Electricity consumption           99.139393
Last Service Date                 96.444500
Other Fuel Types                  94.472015
Availability                      96.011056
Last Timing Belt Service Date     99.899491
Available from                    98.291350
dtype: float64

In [10]:
col_list = list(oto.columns)

In [11]:
col_list

['url',
 'make_model',
 'short_description',
 'body_type',
 'price',
 'vat',
 'km',
 'registration',
 'prev_owner',
 'kW',
 'hp',
 'Type',
 'Previous Owners',
 'Next Inspection',
 'Inspection new',
 'Warranty',
 'Full Service',
 'Non-smoking Vehicle',
 'null',
 'Make',
 'Model',
 'Offer Number',
 'First Registration',
 'Body Color',
 'Paint Type',
 'Body Color Original',
 'Upholstery',
 'Body',
 'Nr. of Doors',
 'Nr. of Seats',
 'Model Code',
 'Gearing Type',
 'Displacement',
 'Cylinders',
 'Weight',
 'Drive chain',
 'Fuel',
 'Consumption',
 'CO2 Emission',
 'Emission Class',
 '\nComfort & Convenience\n',
 '\nEntertainment & Media\n',
 '\nExtras\n',
 '\nSafety & Security\n',
 'description',
 'Emission Label',
 'Gears',
 'Country version',
 'Electricity consumption',
 'Last Service Date',
 'Other Fuel Types',
 'Availability',
 'Last Timing Belt Service Date',
 'Available from']

## Let's begin to implement EDA Process to all columns

#### We'll begin with the variables which has high percentage of missing values(NaNs).

#### We can remove some of them. At the begining we can focus on the columns that have %35 precentage and higher of missing values

In [12]:
def show_nans(oto, limit):
    missing = oto.isnull().sum()*100/oto.shape[0]
    return missing.loc[lambda x : x > limit]
show_nans(oto, 35)

prev_owner                        42.892141
kW                               100.000000
Previous Owners                   41.711163
Next Inspection                   77.793831
Inspection new                    75.299956
Full Service                      48.395000
Non-smoking Vehicle               54.915510
Paint Type                        36.258559
Model Code                        68.729192
Cylinders                         35.680633
Weight                            43.809285
Drive chain                       43.080596
Emission Label                    74.967021
Country version                   52.346253
Electricity consumption           99.139393
Last Service Date                 96.444500
Other Fuel Types                  94.472015
Availability                      96.011056
Last Timing Belt Service Date     99.899491
Available from                    98.291350
dtype: float64

We can drop the columns which have 90 percentage or high of missing values.
'Availability', 'Available from', 'Electricity consumption', 'Last Service Date', 'Last Timing Belt Service Date', 'Other Fuel Types', 'kW'

In [13]:
drop_list1 = ['Availability','Available from','Electricity consumption','Last Service Date',
              'Last Timing Belt Service Date', 'Other Fuel Types','kW']

In [14]:
oto.drop(drop_list1, axis=1, inplace=True)

### "prev_owner" and "Previous Owners"

In [15]:
oto[["prev_owner", "Previous Owners"]]

              prev_owner                                                                            Previous Owners
0      2 previous owners                                                                                      \n2\n
1                   None                                                                                        NaN
2       1 previous owner                                                                                      \n1\n
3       1 previous owner                                                                                      \n1\n
4       1 previous owner                                                                                      \n1\n
...                  ...                                                                                        ...
15914               None                                                                                        NaN
15915   1 previous owner  [\n1\n, \n, 7.4 l/100 km (comb), \n, 9.2 l/100 km (city), \n, 6.3 l/100 km (country), \n]
15916   1 previous owner                                                           [\n1\n, \n139 g CO2/km (comb)\n]
15917               None                                                                                        NaN
15918   1 previous owner                                                                                      \n1\n

[15919 rows x 2 columns]

In [16]:
# Examining prev_owner column
print('Checking prev_owner column')
print('--------------------------')
print(oto['prev_owner'],'\n\n')
print('Number of each values')
print('--------------------------')
print(oto['prev_owner'].value_counts(dropna=False),'\n\n')
print('Number of missing values')
print('--------------------------')
print(oto['prev_owner'].isnull().sum(),'\n\n')
print('Data type')
print('--------------------------')
print(oto['prev_owner'].dtype,'\n\n')

Checking prev_owner column
--------------------------
0        2 previous owners
1                     None
2         1 previous owner
3         1 previous owner
4         1 previous owner
               ...
15914                 None
15915     1 previous owner
15916     1 previous owner
15917                 None
15918     1 previous owner
Name: prev_owner, Length: 15919, dtype: object


Number of each values
--------------------------
1 previous owner     8294
NaN                  6828
2 previous owners     778
3 previous owners      17
4 previous owners       2
Name: prev_owner, dtype: int64


Number of missing values
--------------------------
6828


Data type
--------------------------
object

In [30]:
oto["prev_owner"] = oto["prev_owner"].str.replace(" previous owner", "").str.replace("s", "")

In [31]:
oto.prev_owner.value_counts(dropna = False)

1      8294
NaN    6828
2       778
3        17
4         2
Name: prev_owner, dtype: int64

In [32]:
oto["prev_owner"].fillna(method='bfill', inplace=True)

In [33]:
oto.prev_owner.value_counts(dropna = False)

1    14692
2     1187
3       38
4        2
Name: prev_owner, dtype: int64

In [17]:
# Examining Previous Owners column
print('Checking Previous Owners column')
print('--------------------------')
print(oto['Previous Owners'],'\n\n')
print('Number of each values')
print('--------------------------')
print(oto['Previous Owners'].value_counts(dropna=False),'\n\n')
print('Number of missing values')
print('--------------------------')
print(oto['Previous Owners'].isnull().sum(),'\n\n')
print('Data type')
print('--------------------------')
print(oto['Previous Owners'].dtype,'\n\n')

Checking Previous Owners column
--------------------------
0                                                                                            \n2\n
1                                                                                              NaN
2                                                                                            \n1\n
3                                                                                            \n1\n
4                                                                                            \n1\n
                                                   ...
15914                                                                                          NaN
15915    [\n1\n, \n, 7.4 l/100 km (comb), \n, 9.2 l/100 km (city), \n, 6.3 l/100 km (country), \n]
15916                                                             [\n1\n, \n139 g CO2/km (comb)\n]
15917                                                                                          NaN
15918                                                                                        \n1\n
Name: Previous Owners, Length: 15919, dtype: object


Number of each values
--------------------------
\n1\n                                                                                        8101
NaN                                                                                          6640
\n2\n                                                                                         766
\n0\n                                                                                         163
\n3\n                                                                                          17
                                                                                             ...
[\n1\n, \n96 g CO2/km (comb)\n]                                                                 1
[\n1\n, \n181 g CO2/km (comb)\n]                                                                1
[\n1\n, \n, 5.9 l/100 km (comb), \n, 7.9 l/100 km (city), \n, 4.8 l/100 km (country), \n]       1
[\n1\n, \n, 6.7 l/100 km (comb), \n, 8.6 l/100 km (city), \n, 5.6 l/100 km (country), \n]       1
[\n1\n, \n102 g CO2/km (comb)\n]                                                                1
Name: Previous Owners, Length: 103, dtype: int64


Number of missing values
--------------------------
6640


Data type
--------------------------
object

In [20]:
oto['Previous Owners'].str.strip("\n")

0          2
1        NaN
2          1
3          1
4          1
        ...
15914    NaN
15915    NaN
15916    NaN
15917    NaN
15918      1
Name: Previous Owners, Length: 15919, dtype: object

In [21]:
oto['Previous Owners'].str.strip("\n").value_counts(dropna=False)

1      8101
NaN    6870
2       766
0       163
3        17
4         2
Name: Previous Owners, dtype: int64

In [22]:
oto['Previous Owners'].str[0]

0           \n
1          NaN
2           \n
3           \n
4           \n
         ...
15914      NaN
15915    \n1\n
15916    \n1\n
15917      NaN
15918       \n
Name: Previous Owners, Length: 15919, dtype: object

In [23]:
oto['Previous Owners'].str[0].str[1]

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
15914    NaN
15915      1
15916      1
15917    NaN
15918    NaN
Name: Previous Owners, Length: 15919, dtype: object

In [24]:
oto['Previous Owners'].str[0].str[1].value_counts(dropna=False)

# those values(0,1,2) are not visible in previous format

NaN    15689
1        193
0         25
2         12
Name: Previous Owners, dtype: int64

In [25]:
oto["Previous_Owner1"] = oto['Previous Owners'].str[0].str[1]
oto["Previous_Owner1"]

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
15914    NaN
15915      1
15916      1
15917    NaN
15918    NaN
Name: Previous_Owner1, Length: 15919, dtype: object

In [26]:
oto['Previous_Owner'] = oto['Previous Owners'].str.strip('\n')
oto['Previous_Owner']

0          2
1        NaN
2          1
3          1
4          1
        ...
15914    NaN
15915    NaN
15916    NaN
15917    NaN
15918      1
Name: Previous_Owner, Length: 15919, dtype: object

In [27]:
oto.Previous_Owner.fillna(oto.Previous_Owner1, inplace=True)
oto.Previous_Owner.value_counts(dropna=False)

1      8294
NaN    6640
2       778
0       188
3        17
4         2
Name: Previous_Owner, dtype: int64

In [28]:
oto["Previous_Owner"].fillna(method='bfill', inplace=True)

In [29]:
oto["Previous_Owner"].value_counts(dropna = False)

1    14169
2     1179
0      531
3       38
4        2
Name: Previous_Owner, dtype: int64

##### It's better to drop "prev_owner" column in order to benefit more from "Previous_Owner". By the way, It is time to drop the other useless columns : "Weight", 'Non-smoking Vehicle'.

In [34]:
drop_list2 = ["prev_owner", 'Weight','Non-smoking Vehicle']

In [35]:
oto.drop(drop_list2, axis = 1, inplace = True)

##### 'body_type' is also very similar to 'Body'.

In [36]:
def fill_most(oto, group_col, col_name):
    for group in list(oto[group_col].unique()) :
        grp_inx = list(oto[oto[group_col] == group][col_name].index)
        oto[col_name].iloc[grp_inx] = oto[col_name].iloc[grp_inx].fillna(oto[oto[group_col] == group][col_name].mode()[0])

In [37]:
oto["body_type"].value_counts(dropna = False)

Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
NaN                60
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

In [38]:
oto.groupby("make_model")["body_type"].value_counts(dropna = False)

make_model      body_type
Audi A1         Sedans           1538
                Compact          1039
                Station wagon      21
                Other              13
                Coupe               2
                Van                 1
Audi A2         Off-Road            1
Audi A3         Sedans           2598
                Station wagon     282
                Compact           182
                Other              16
                Convertible         8
                NaN                 7
                Coupe               4
Opel Astra      Station wagon    1211
                Sedans           1053
                Compact           185
                Other              67
                NaN                 7
                Coupe               2
                Off-Road            1
Opel Corsa      Compact          1230
                Sedans            875
                Other              87
                Coupe              13
                Transporter         7
                Off-Road            3
                NaN                 2
                Van                 2
Opel Insignia   Station wagon    1611
                Sedans            900
                Other              48
                Compact            27
                Off-Road            7
                NaN                 3
                Coupe               1
                Van                 1
Renault Clio    Sedans            918
                Compact           484
                Station wagon     337
                Other              51
                Transporter        29
                NaN                15
                Off-Road            2
                Van                 2
                Coupe               1
Renault Duster  Off-Road           34
Renault Espace  Van               777
                Station wagon      91
                Transporter        52
                NaN                26
                Sedans             21
                Off-Road            8
                Other               8
                Compact             6
                Coupe               2
Name: body_type, dtype: int64

In [39]:
fill_most(oto, "make_model", "body_type")

In [40]:
oto.body_type.value_counts(dropna = False)

Sedans           7925
Station wagon    3563
Compact          3155
Van               809
Other             290
Transporter        88
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

In [41]:
# Examining Body column
print('Checking Body column')
print('--------------------------')
print(oto['Body'],'\n\n')
print('Number of each values')
print('--------------------------')
print(oto['Body'].value_counts(dropna=False),'\n\n')
print('Number of missing values')
print('--------------------------')
print(oto['Body'].isnull().sum(),'\n\n')
print('Data type')
print('--------------------------')
print(oto['Body'].dtype,'\n\n')

Checking Body column
--------------------------
0        [\n, Sedans, \n]
1        [\n, Sedans, \n]
2        [\n, Sedans, \n]
3        [\n, Sedans, \n]
4        [\n, Sedans, \n]
               ...
15914       [\n, Van, \n]
15915       [\n, Van, \n]
15916       [\n, Van, \n]
15917       [\n, Van, \n]
15918       [\n, Van, \n]
Name: Body, Length: 15919, dtype: object


Number of each values
--------------------------
[\n, Sedans, \n]           7903
[\n, Station wagon, \n]    3553
[\n, Compact, \n]          3153
[\n, Van, \n]               783
[\n, Other, \n]             290
[\n, Transporter, \n]        88
NaN                          60
[\n, Off-Road, \n]           56
[\n, Coupe, \n]              25
[\n, Convertible, \n]         8
Name: Body, dtype: int64


Number of missing values
--------------------------
60


Data type
--------------------------
object

In [42]:
oto.drop("Body", axis = 1, inplace = True) # no need Body column. use the body_type instead of it.

##### 'Inspection new'

In [43]:
# Examining Inspection new column
print('Checking Inspection new column')
print('--------------------------')
print(oto['Inspection new'],'\n\n')
print('Number of each values')
print('--------------------------')
print(oto['Inspection new'].value_counts(dropna=False),'\n\n')
print('Number of missing values')
print('--------------------------')
print(oto['Inspection new'].isnull().sum(),'\n\n')
print('Data type')
print('--------------------------')
print(oto['Inspection new'].dtype,'\n\n')

Checking Inspection new column
--------------------------
0                     [\nYes\n, \nEuro 6\n]
1                                       NaN
2                                       NaN
3                                       NaN
4        [\nYes\n, \n109 g CO2/km (comb)\n]
                        ...
15914                                   NaN
15915                                   NaN
15916           [\nYes\n, \nEuro 6d-TEMP\n]
15917                                   NaN
15918    [\nYes\n, \n153 g CO2/km (comb)\n]
Name: Inspection new, Length: 15919, dtype: object


Number of each values
--------------------------
NaN                                                                                            11987
[\nYes\n, \nEuro 6\n]                                                                            523
\nYes\n                                                                                          362
[\nYes\n, \n102 g CO2/km (comb)\n]                                                               174
[\nYes\n, \n4 (Green)\n]                                                                         166
                                                                                               ...
[\nYes\n, \n, 5.1 l/100 km (comb), \n, 6.4 l/100 km (city), \n, 4.3 l/100 km (country), \n]        1
[\nYes\n, \n, 6.3 l/100 km (comb), \n, \n, \n]                                                     1
[\nYes\n, \n89 g CO2/km (comb)\n]                                                                  1
[\nYes\n, \n, 4.7 l/100 km (comb), \n, \n, \n]                                                     1
[\nYes\n, \n, 6.7 l/100 km (comb), \n, 8.7 l/100 km (city), \n, 5.6 l/100 km (country), \n]        1
Name: Inspection new, Length: 203, dtype: int64


Number of missing values
--------------------------
11987


Data type
--------------------------
object

In [44]:
oto["Inspection new"].isnull().sum()/len(oto["Inspection new"])

0.7529995602738866

In [45]:
oto['Inspection new'].str[0].value_counts(dropna = False)

NaN        11987
\nYes\n     3570
\n           362
Name: Inspection new, dtype: int64

##### We chose the '\n' string in '.contains()'. So we cover both variables in the lists and out of the lists¶
'*' 1 → gives us 1 or 0 according to True/False

In [46]:
oto['Inspection new'].str[0].str.contains("\n", na = False)

0         True
1        False
2        False
3        False
4         True
         ...
15914    False
15915    False
15916     True
15917    False
15918     True
Name: Inspection new, Length: 15919, dtype: bool

In [47]:
oto["Inspection_New_Bool"] = oto['Inspection new'].str[0].str.contains("\n", na = False)*1

In [48]:
oto["Inspection_New_Bool"].value_counts(dropna = False)

0    11987
1     3932
Name: Inspection_New_Bool, dtype: int64

##### 'Next Inspection'

In [49]:
# Examining Next Inspection new column
print('Checking Next Inspection new column')
print('--------------------------')
print(oto['Next Inspection'],'\n\n')
print('Number of each values')
print('--------------------------')
print(oto['Next Inspection'].value_counts(dropna=False),'\n\n')
print('Number of missing values')
print('--------------------------')
print(oto['Next Inspection'].isnull().sum(),'\n\n')
print('Data type')
print('--------------------------')
print(oto['Next Inspection'].dtype,'\n\n')

Checking Next Inspection new column
--------------------------
0         [\n06/2021\n, \n99 g CO2/km (comb)\n]
1                                           NaN
2                                           NaN
3                                           NaN
4                                           NaN
                          ...
15914                                       NaN
15915    [\n01/2022\n, \n168 g CO2/km (comb)\n]
15916                                       NaN
15917                                       NaN
15918                                       NaN
Name: Next Inspection, Length: 15919, dtype: object


Number of each values
--------------------------
NaN                                                                                                12384
\n04/2022\n                                                                                           62
\n03/2021\n                                                                                           38
\n03/2022\n                                                                                           36
\n06/2021\n                                                                                           34
                                                                                                   ...
[\n05/2019\n, \n123 g CO2/km (comb)\n]                                                                 1
[\n09/2021\n, \n107 g CO2/km (comb)\n]                                                                 1
[\n03/2022\n, \n, 6.6 l/100 km (comb), \n, 8.2 l/100 km (city), \n, 5.7 l/100 km (country), \n]        1
[\n08/2020\n, \n153 g CO2/km (comb)\n]                                                                 1
[\n01/2020\n, \n133 g CO2/km (comb)\n]                                                                 1
Name: Next Inspection, Length: 1400, dtype: int64


Number of missing values
--------------------------
12384


Data type
--------------------------
object

In [50]:
oto['Next Inspection'].isnull().sum()/len(oto['Next Inspection'])

0.7779383127080847

In [51]:
nxtins_list = ["".join(item).strip() if type(item) == list else item for item in oto['Next Inspection']]
oto['next_inspection'] = pd.DataFrame(nxtins_list)

In [52]:
oto.next_inspection.value_counts(dropna = False)

NaN                                                                            12384
\n04/2022\n                                                                       62
\n03/2021\n                                                                       38
\n03/2022\n                                                                       36
\n06/2021\n                                                                       34
                                                                               ...
03/2021                                                                            1
03/2021\n\n6.7 l/100 km (comb)\n9.4 l/100 km (city)\n5.2 l/100 km (country)        1
03/2022\n\n6.6 l/100 km (comb)\n8.2 l/100 km (city)\n5.7 l/100 km (country)        1
05/2018\n\n121 g CO2/km (comb)                                                     1
12/2019\n\n97 g CO2/km (comb)                                                      1
Name: next_inspection, Length: 1400, dtype: int64

In [53]:
oto["next_inspection"] = oto.next_inspection.str.extract("(\d\d/\d\d\d\d)")

In [54]:
oto.next_inspection.value_counts(dropna = False)

NaN        12384
06/2021      471
03/2021      210
05/2021      180
04/2021      171
           ...
03/2024        1
01/1955        1
01/1999        1
01/2018        1
05/2016        1
Name: next_inspection, Length: 78, dtype: int64

In [55]:
oto.next_inspection = pd.to_datetime(oto.next_inspection, format = "%m/%Y")

In [56]:
oto.next_inspection.value_counts(dropna=False)

NaT           12384
2021-06-01      471
2021-03-01      210
2021-05-01      180
2021-04-01      171
              ...
2016-04-01        1
1955-01-01        1
1999-01-01        1
2017-05-01        1
2016-05-01        1
Name: next_inspection, Length: 78, dtype: int64

##### 'Paint Type'